*{
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe UI', Tahoma, Geneva, verdana, sans-serif;
}

body{
    display: flex;
    margin-left: 50px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #57606f;
    /*background: linear-gradient(45deg, #ff6b6b,  #0fbcf9);*/
}

.login-container{
    background-color: #1e272e;
    padding: 70px 130px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 35 rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    transform: translate(-20px);
    position: relative;
}

.login-header{
    text-align: center;
    margin-bottom: 40px;
}

.login-header h1{
    color: #f1f2f6;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #0fbcf9;
}

.login-header p{
    color: #dfe4ea;
    margin-bottom: 70px;
}

.form-group{
    margin-bottom: 25px;
    position: relative;
}
.form-group label{
    display: block;
    margin-bottom: 1px;
    color: #dfe4ea;
    color: #0fbcf9;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

.form-group input{
    width: 100%;
    padding: 8px 10px;
    color: #dfe4ea;
    border-radius: 8px;
    border: 2px solid #a4b0be;
    font-size: 16px;
    transition: all 3.0s ease;
    background-color: #57606f;
}

.form-group input:focus{
    outline: none;
    /*border-color: #4ecdc4;*/
    border-color:  #0fbcf9;
    background: #747d8c;
    box-shadow: 0 0 10px rgba(78, 205, 196, 0.4);
}

.form-group input::placeholder{
    color:#dfe4ea;
}

.login-btn{
    width: 100%;
    padding: 14px;
    /*background: linear-gradient(45deg, #4ecdc4, #45b7af);*/
    background:  #0fbcf9;
    border: none;
    border-radius: 8px;
    margin-top: 10px ;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
    transition: all 0.3 ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.login-btn:hover{
    background-color: transparent;
    /*color:  #4ecdc4;
    border: 1px solid  #45b7af;*/
    color:  #0fbcf9;
    border: 1px solid  #0fbcf9 ;

}

.additional-link {
    text-align: center;
    margin-top: 25px;
}

.additional-link a {
    color: #dfe4ea;
    text-decoration: none;
    font-size: 0.9em;
    transition: color 0.3s ease;
}

.additional-link a:hover{
    color:  #0fbcf9;
}

.social-icon{
    margin-top: 20px;
    list-style: none;
    padding: 0;
    display: flex;
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translate(-50%);
}

.social-icon a {
    margin: 10px;
    border-radius: 50%;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.3s ease;
    font-size: 20px;
    color: var(--color);
}

.social-icon a:hover {
    background: var(--color);
    color: #010101;
    box-shadow: 0 0 5px var(--color),
                  0 0 25px var(--color),
                      0 0 50px var(--color),
                    0 0 75px var(--color);
                    
}

@media (max-width:40px){
    .login-container{
        margin: 20px;
        padding: 30px;
    }
    .social-icon{
        top: 90;
    }
}