/*table degin*/
.qp{
  min-height: 70vh;
  padding: 7.5rem;
  display: grid;
  gap: 1px;
}
table{
  width: fit-content;
  border: 1px ;
  margin: 40px auto;
  border-collapse: collapse;
  text-align: center;
  box-shadow: 8px 8px  8px white;
  background-color: white;
  display: none;
  box-shadow: 2px 1.5px 10px 2px gray;

}

th,td{
  border-radius:20px solid #ddd;
  padding: 13px;
  border-spacing: 10000px;

}
th{
  background-color: #8ec6f4;
  color: #fff;
  font-size: 20px;
}
tr:hover{
  background-color: #8fbae2;
  box-shadow: 4px 5px 7px 5px rgb(183, 208, 238);
}
/* buttons degin*/
.buttons{
  text-align: center;
}

.circle{
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  background-image:url('image.png') ;
  color: white;
  border: none;
  font-size: 10px;
  display: inline-table;
  justify-content: center;
  cursor: pointer;
  transition: background-color;
 
}
.circle:hover{
  box-shadow: 5px 4px 50px 4px #022b65;
  background-color: transparent;
  color: #0fbcf9;
  border: 1px solid #0fbcf9;
}

.sec{
  display: grid;
  justify-content: center;
  align-items: center;
}
